@page "/datasets/mnist"
@page "/datasets/mnist/{StartIndex:int}"
@using Lightspeed.Classification.Generic
@using Lightspeed.Components.Datasets
@using Lightspeed.Components.Utils

<div class="container flex-fill">
	<!-- Title bar -->
	<div class="row">
		<h1 class="col mb-0">MNIST Dataset</h1>
		<div class="col-2 vcenter-inner">
			<span>
				@_dataset.Count Elements
			</span>
		</div>
	</div>
	<hr />

	<!-- Pagination -->
	<PaginationBar
		Index="@StartIndex"
		Count="@PAGINATION_PAGES"
		Width="@PAGINATION_BAR_SIZE"
		RootUrl="@PAGE_URL"
	/>

	<!-- Grid -->
	<div class="row">
		@for (var i = StartIndex; i < EndIndex; i++)
		{
			var element = (GrayscaleImageDatasetElement)_dataset[i];
			<GrayscaleImageElement
				Element="@element"
			/>
		}
	</div>
</div>
