<div class="card col-3 bg-dark pt-2 border-light rounded-0">
	<!-- Dataset image -->
	<div class="card-img-top d-flex justify-content-center">
		<img src="@Image" class="img-thumbnail rounded-0"
			alt="Icon for the @Name dataset">
	</div>

	<div class="card-body px-0">
		<!-- Dataset info -->
		<h4 class="text-center">@Name</h4>
		<span>@Description</span>

		<!-- Links -->
		<div class="d-flex justify-content-between pt-2">
				@if (_dataset.IsDownloaded)
				{
					<div class="vcenter-inner">
						<span class="text-success">
							Downloaded
						</span>
					</div>
					<a class="btn btn-success rounded-0 px-4" href="@Address">
						View
					</a>
				}
				else
				{
					<div class="vcenter-inner">
						<span class="text-warning">
							Not Downloaded
						</span>
					</div>
					<button type="button" class="btn btn-primary rounded-0 px-4"
						@onclick="OnDownloadClicked" disabled="@_isDownloading">
						Download
					</button>
				}
		</div>
	</div>
</div>
