<div class="col vcenter-inner align-items-start">
	<label class="h6 mb-0" for="@Validator.Id">
		@Validator.DisplayName
	</label>
	<span class="text-muted">@Validator.Description</span>
</div>
<div class="col-auto vcenter-inner align-items-end">
	<InputCheckbox @bind-Value="@Value" id="@Validator.Id"
		class="form-control rounded-0 text-end" />
</div>
