<div class="col vcenter-inner align-items-start">
	<label class="h6 mb-0" for="@Validator.Id">
		@Validator.DisplayName
	</label>
	<span class="text-muted">@Validator.Description</span>
</div>
<div class="col-auto vcenter-inner align-items-end">
	<InputSelect @bind-Value="@Value" id="@Validator.Id"
		class="form-select rounded-0 text-end">
		@foreach (var value in Validator.OrderedValues)
		{
			<option value="@value">@value</option>
		}
	</InputSelect>
	<span class="text-muted">@Validator.Constraints</span>
</div>
