@page "/train/session/{SessionId:guid}"
@using Lightspeed.Components.Training.Dashboard

<div class="container">
	<!-- Title Bar -->
	<div class="row">
		<h1>Training Session @SessionId</h1>
	</div>

	<!-- Progress Information -->
	<TrainingProgress
		TrainingSession="@_trainingSession"
	/>
	<hr />

	<!-- Metrics -->
	<TrainingMetrics
		TrainingSession="@_trainingSession"
	/>
	<hr />

	<!-- Hyperparameters -->
	<TrainingHyperparameters
		GenericHyperparameters="@_trainingSession.Hyperparameters"
		ModelHyperparameters="@_trainingSession.ModelHyperparameters"
	/>

</div>
